source ~/.vimrc
# Unifies system clipboard and vim clipboard, but removes replace with register feature
#set clipboard=unnamed
set surround
set hlsearch
set incsearch
set ignorecase
set smartcase
set incsearch
set showmode
set number
set relativenumber
let mapleader = " "
set which-key
set sneak
set easymotion
imap jk <esc>
nmap <leader>r :action Run<cr>
nmap <leader>d <Action>(Debug)
nmap <leader>t :action Refactorings.QuickListPopupAction<cr>
nmap <leader>b :action CompileDirty<cr>
nmap <leader>f <Action>(OptimizeImports)<Action>(ReformatCode)
nnoremap <leader>n :NERDTreeFocus<CR>
nnoremap <C-n> :NERDTree<CR>
nnoremap <C-t> :NERDTreeToggle<CR>
nnoremap <C-f> :NERDTreeFind<CR>
nmap gb :action SelectNextOccurrence<cr>
nmap gh :action ShowErrorDescription<cr>
#nmap gcc :action CommentByLineComment<cr>
map gcc <Action>(CommentByLineComment)
nmap gC :action CommentByBlockComment<cr>
nmap gi :action GotoImplementation<CR>

# Plugins
# Replace with grr
Plug 'vim-scripts/ReplaceWithRegisteri
# Pultible gursor https://github.com/terryma/vim-multiple-cursors/blob/master/doc/multiple_cursors.txt
Plug 'terryma/vim-multiple-cursors'
# Comment out lines with cc
Plug 'tpope/vim-commentary'
# Easy motion
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'
