[user]
	email = sindrejohan1@gmail.com
	name = Sindre Sivertsen
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	bc3 = trustExitCode
[pull]
	rebase = true
[filter "gitignore"]
	clean = "sed '/#gitignore$/d'"
	smudge = cat
[init]
	defaultBranch = master
[rebase]
	autoStash = true
[push]
	autoSetupRemote = true
