[user]
	email = sindrejohan1@gmail.com
	name = Sindre Sivertsen
	signingKey = /Users/sindre.sivertsen/.ssh/id_rsa.pub
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	bc3 = trustExitCode
[pull]
	rebase = true
[filter "gitignore"]
	clean = "sed '/#gitignore$/d'"
	smudge = cat
[init]
	defaultBranch = master
[alias]
	please = push --force-with-lease
	blame = blame -w -C -C -C
	staash = stash --all
[rerere]
	enabled = true
	autoUpdate = true
[gpg]
	format = ssh
[maintenance]
	repo = /Users/sindre.sivertsen/code
	repo = /Users/sindre.sivertsen/code/Pureservice/Pureservice.Update
