gnome-themes-standard 
python-pywal
gtk-engine-murrine
libgnome-keyring
gnome-keyring
xautolock
rxvt-unicode
feh
polkit-gnome
compton
pavucontrol
sysstat
ranger
w3m
rofi
redshift
thunar
xfce4-settings
xfce4-power-manager
xfsettingsd
imagemagick
xorg-xdpyinfo
bc
mediainfo
keepass
zip
unzip
zsh
