i3-gaps
gestures
i3lock-color
arc-gtk-theme
nitrogen
playerctl
cava-git
numix-icon-theme-git
xcursor-chameleon-pearl
i3blocks-gaps-git
i3lock-fancy-git
rofi-git
pulseaudio
pulseaudio-ctl
i3lock-color-git
j4-dmenu-desktop
vim-plug
gotop-bin
i3-lock-fancy-git
thefuck
betterlockscreen
greetd
greetd-tuigreet
